.review{
    background-color:beige;
}
.review .container{
   
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 150px;
}
.review .card{
    border-color: transparent;
    width: 350px;
   margin: 10px;
}

.review .card .card-footer{
    background: transparent;
    border: 0;
}
.testimonial{
    color: brown;
    font-weight: bold;
}
.review-title{
    color: darkslategrey;
    font-weight: bold;
}